.env
.vscode

*.log

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

.DS_Store

src/wp-admin/
src/wp-includes/
src/wp-content/plugins/
src/wp-content/upgrade/
src/wp-content/themes/twentynineteen/
src/wp-content/themes/twentyseventeen/
src/wp-content/themes/twentysixteen/
src/wp-content/*.*
src/wp-content/themes/*.*
src/*.*
!src/wp-config.php